laravel-app/vendor/ 
laravel-app/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
laravel-app/bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
laravel-app/public/hot
laravel-app/public/storage
laravel-app/public/build
laravel-app/storage/pail
laravel-app/storage/*.key
laravel-app/storage/app/private

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot


.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


.env.backup
.env.production
.phpactor.json
auth.json

.vscode
.vscode/settings.json
.kilo
.ohmyagent