@import "@tabler/core/dist/css/tabler.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800&display=swap');


/* فونت */
body {
    font-family: 'Vazirmatn', sans-serif;
    width: 100%;
    padding-bottom: 42px;
}


.page-header {
    border-bottom: 4px solid #f38f0c;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.page-header h3 {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

.breadcrumb {
    margin-bottom: 8px;
}

.breadcrumb a {
    text-decoration: none;
}
