.wrapper{

    display:flex;

}

.sidebar{

    width:260px;

    min-height:calc(100vh - 65px);

    background:#3a3a3b;

    color:white;

    transition:.3s;

}

.sidebar-menu{

    list-style:none;

    padding:0;

    margin:0;

}

.sidebar-menu li{

    margin:5px 0;

}

.sidebar-menu a{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px 20px;

    color:#cbd5e1;

    text-decoration:none;

    transition:.25s;

}

.sidebar-menu a:hover{

    background:#f8f9fa;

    color:rgb(7, 7, 7);

}

.sidebar-menu a.active{

    background:#ebb135;

    color:rgb(10, 10, 10);

}

.sidebar-menu i{

    font-size:20px;

}

.content{

    flex:1;

    padding:25px;

    min-height:calc(100vh - 65px);

}

.sidebar.collapsed{

    width:80px;

}

.sidebar.collapsed span{

    display:none;

}

.sidebar.collapsed a{

    justify-content:center;

}

.sidebar.collapsed i{

    font-size:24px;

}