:root{
    --bg:#0f172a;
    --bg2:#1e293b;
    --glass:rgba(255,255,255,.08);
    --border:rgba(255,255,255,.12);
    --text:#f3f1ee;
}

html,
body{
    width:100%;
    height:auto;
}

body{
    margin:0;
    font-family:Vazirmatn,sans-serif;
    background:radial-gradient(circle at top,#1a1919 0%,#171718 45%,#06070c 100%);
    color:var(--text);
    overflow:hidden;
}

.auth-wrapper{
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px;
}

.login-card{
    width:500px;
    height: auto;
    max-width:100%;
    padding:20px;
    border-radius:22px;
    background:rgba(88, 87, 87, 0.096);
    backdrop-filter:blur(18px);
    border:3px solid rgba(255,255,255,.12);
    box-shadow:0 20px 60px rgba(0,0,0,.35);
    animation:fadeUp .9s ease;
}

.login-logo{
    width:120px;
    height:120px;
    object-fit:contain;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(27, 27, 27, 0.35);
}

.login-btn{
    height:48px;
    border-radius:12px;
    font-weight:bold;
}

.login-footer{
    margin-top:25px;
    text-align:center;
    color:#9ca3af;
    font-size:13px;
}

.input-group-text{
    background:rgba(255,255,255,.08);
    border-color:rgba(255,255,255,.15);
    color:#f7f5f4;
}

.form-control{
    background:rgba(255,255,255,.05);
    border-color:rgba(255,255,255,.15);
    color:#fff;
}

.form-control:focus{
    background:rgba(255,255,255,.08);
    color:#fff;
    border-color:#0d6efd;
    box-shadow:none;
}

.form-control::placeholder{
    color:#94a3b8;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(55px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}