
/* ==========================================================================
   متغیرهای مشترک رابط کاربری
   ========================================================================== */
:root {
    --footer-height: 30px;

}

footer {
    position: sticky;
    padding: 3px;
    grid-row: 2;
    bottom: 0;
}

.app-footer {
    /* z-index: 1030; */
    height: var(--footer-height);
    width: 102%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

[data-bs-theme="dark"] .app-footer {
    background: rgba(51, 45, 73, 0.479);
}
[data-bs-theme="light"] .app-footer {
    background: rgba(51, 45, 73, 0.479);
}

.footer-datetime {
    color: rgb(13, 14, 14);
    font-size: 16px;
    display: block;
    text-align: center;
}

[data-bs-theme="dark"] .footer-datetime {
    color: rgb(236, 217, 243);
}


/* .footer-separator {
    color: rgb(231, 7, 231);
} */



