.top-navbar {
    background: #3d3d3c;
    min-height: 65px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
    width: 100%;
}

/* .top-navbar .navbar-brand{
    color:#fff;
    font-size:20px;
}

.top-navbar .navbar-brand:hover{
    color:#fff;
} */

/* .top-navbar span{
    color:#e78606;
    font-size:25px;
} */

.top-navbar .navbar-brand .nav-logo {
    width: 80px;
    height: 65px;
    border-radius: 10px;
}

.top-navbar .nev-menu-btn {
    border-radius: 10px;
    font-size: 40px;
}

/* ==========================
   User Menu
========================== */

.user-menu {
    position: relative;
}

/* دکمه کاربر */
.user-menu-toggle {
    display: flex;
    gap: 5px;
    border: none;
    background: transparent;
    padding: 5px;
    /* border-radius: 10px; */
}

.user-avatar {
    font-size: 40px;
    color: #fff;
}

.user-avatar:hover {
    font-size: 40px;
    color: #f0b30a;
}

.user-menu-toggle:hover,
.user-menu-toggle:focus {
    color: rgba(255, 255, 255, 0.08) !important;
    box-shadow: none;
}

/* فلش Bootstrap */
.user-menu-toggle::after {
    margin-right: 4px;
}

/* منوی بازشونده */
.user-dropdown {
    min-width: 170px;
    margin-top: 10px !important;
    padding: 8px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
}

/* آیتم‌ها */
.user-dropdown .dropdown-item {
    display: flex;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 12px;
    text-align: right;
}

/* آیکن آیتم‌ها */
.user-dropdown .dropdown-item i {
    font-size: 20px;
    width: 30px;
}

/* هاور */
.user-dropdown .dropdown-item:hover {
    background-color: #e6a417;
    color: #161616;
}

/* خروج */
.user-dropdown .logout-item {
    width: 100%;
    border: none;
    background: transparent;
    color: #ec051d;
    cursor: pointer;
}

.user-dropdown .logout-item:hover {
    background-color: #f03939;
}
