.permissions-grid {
    column-count: 3;
    column-gap: 22px;
}

.permission-column {
    width: 100%;

    display: inline-block;

    vertical-align: top;

    break-inside: avoid;

    margin-bottom: 22px;
}

.permission-column .card {
    height: auto;
}

.permissions-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.permission-item {
    width: 100%;
    margin: 0;
}

@media (max-width: 991.98px) {

    .permissions-grid {
        column-count: 2;
    }

}

@media (max-width: 767.98px) {

    .permissions-grid {
        column-count: 1;
    }

}

/*
Source - https://stackoverflow.com/a/49460957
Posted by Lakindu Gunasekara, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-14, License - CC BY-SA 3.0
*/

.h-r {
    background-size: 4px;
    border-top: 4px solid #FFF0F2;
    border-color: #f5f8f4;
}